
@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: grandeFont;
    src: url("../fonts/giant_head_regular_ot.otf");
}
h3, h4, h5,h2,h1 {
  font-family: myFirstFont;
}
.letra_grande {
  font-family: "Days One";
  font-size: 70px;
}
.letra_titulo {
  font-family: "Days One";
}
.letra_de_parrafo {
  font-family: myFirstFont;
}
.color_blanco {
  color:white;
}
.color_secundario {
  color:#e74c3c;
}
.centrar_div_256 {
  width: 256px;
  margin: 0 auto;
}

* {
  padding:0;
  margin:0;
}

body {
  width: 100%;
  height: auto;
}
@media(min-width: 1201px) {
#contenedor {
  font-family: myFirstFont;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  height: 100%;
  min-height: 1000px;

  /*background-color: #0B181C;*/

  background: rgba(11,24,28,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(11,24,28,1)), color-stop(100%, rgba(6,47,59,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
  background: radial-gradient(ellipse at center, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b181c', endColorstr='#062f3b', GradientType=1 );
  background-image: url('../img/principales/landing_xxs.jpg');
}
}
@media(max-width: 1200px) {
    #contenedor {
    font-family: myFirstFont;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    height: 100%;
    min-height: 1000px;

    /*background-color: #0B181C;*/

    background: rgba(11,24,28,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(11,24,28,1)), color-stop(100%, rgba(6,47,59,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
    background: radial-gradient(ellipse at center, rgba(11,24,28,1) 0%, rgba(6,47,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b181c', endColorstr='#062f3b', GradientType=1 );
    background-image: url('../img/principales/landing_sm.jpg');
  }
}

#header {
  width: 100%;
  height: 50px;
  background-color: #00435B;
}

#navegacion {

  float: right;
  margin-right:20px;
  margin-top: 20px;
  height: 50px;

}
#navegacion > a {
  margin-top:5px;
  float: right;
  margin: 10px;
  cursor:pointer;
  color:white;
  font-size: 20px;
  display: inline-table;
  transition: border-bottom 0.2s;
  text-decoration: none;
  padding: 10px;
}
#navegacion > a:hover {
  border-bottom: 4px solid white;
}

.clear {
  clear:both;
}
.titulo
{
  font-size: 40px;
  text-align: center;
}
.centrado {
 width: 700px;
 margin: 0 auto;
}
/*SECCIONES EN HOME*/
.seccion_principal {
   box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height:700px;
  padding-top: 0em;
  padding-left:2em;
}
.segunda_seccion {
  width: 100%;
  min-height: 500px;
  height: auto;
  opacity: 0.9;
  background-color: #cccccc;
}
.tercera_seccion {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url('../img/principales/landing_xxs.jpg');
}
.contacto {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url('../img/principales/landing_xxs.jpg');
  background-position: bottom;
  /*background-color: #13566E;*/
}
.curriculum {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color: #cccccc;
  opacity: 0.9;
}
@media(max-width: 1200px) { 
  .contacto {
  width: 100%;
  height: auto;
  min-height: 500px;
  /*background-image: url('../img/principales/landing_sm.jpg');*/
  background-position: bottom;
  background-color: white
}
.tercera_seccion {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url('../img/principales/landing_sm.jpg');
}
.segunda_seccion {
  width: 100%;
  min-height: 500px;
  height: auto;
  opacity: 0.97;
  background-color: #cccccc;
}
.curriculum {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-color: #cccccc;
  opacity: 0.97;
}
}




/*FIN SECCIONES EN HOME*/
.en_linea
{
  display: inline;
}

.pad-ding {
  box-sizing: border-box;
  padding: 2em;
}
.justificar_texto {
  text-align: justify;
    text-justify: inter-word;
}
.interlineado_parrafo_grande {
  line-height: 1.8em;
}
.social {
  float:right;
  margin-right: 1em;
}
.icono_social {
  margin-left:20px;
  font-size: 30px;
  color: black;
}
.item_tecnologia {
  width: 100%;
  box-sizing: border-box;
}
.mitad {
  box-sizing: border-box;
    width: 50%;
    float: left;
}
.tercio {
  box-sizing: border-box;
    width: 33%;
    float: left;
}
.color_blanco {
  color:white;
}
.desc_tech {
  padding:10px;
  /*border-left: 3px solid black;*/
}
.desc_tech_left {
  padding:10px;
  /*border-right: 3px solid black;*/
}

.portafolio {
  width: 80%;
  height: auto;
  margin-top:5em;
  margin:auto;
}
  .portafolio > li {
    display: inline-block;
    text-decoration: none;
    padding:5px;
    margin-left: 4em;
    width: 33%;
  }
  .derecha {
    float:right;
  }
.item_portafolio {
  width: 256px;
}
.item_portafolio:hover {
  cursor:pointer;
  
}
.item_portafolio img {
  transition: border-radius 0.5s;
  width: 100%;
  height: 50%;
}
.item_portafolio img:hover{
  border-radius: 20px 0 20px 0;
} 

footer {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #0B181C;
}

footer i {
  font-size:2em;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}
hr.style5 {
  background-color: #fff;
  border-top: 2px dashed #8c8b8b;
}
hr.style-three {
    border: 0;
    border-bottom: 2px dashed #ccc;
    background: #999;
    background-color: rgba(255,255,255,0.1);
}




/*formulario*/
.cf {


}


form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 92%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #btn_contacto {
  color: white;
  background: #e74c3c;
  cursor: pointer;
}
form #btn_contacto:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

.firma_moises {
  font-size:2em;
  float:right;
}
@media(max-width: 1200px) {
  .desaparecer {
    display: none;
  }
}
@media(max-width: 1170px) {
  
  .titulo_grande_mobile {
    text-align: center;
    font-size: 1.5em;
  }
  .parrafo_grande_mobile {
    text-align: justify;
    font-size: 0.5em;
  }

  .portafolio {
    width: 100%;
  height: auto;
  margin-top:5em;
  margin:auto;
  }
  .item_portafolio {
    width: 200px;
    margin: 0 auto;
  } 
  .item_portafolio h3,.item_portafolio h3 {
     text-decoration: none !important;
     color:black;
  }
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .tercio {
    float: none;
    width: 100%;
  }
  .padding-mobile {
    padding: 1em;
  }
  
}
.padding-mobile {
  padding: 2em;
}

@media(max-width: 980px) {
  .centrado {
      width: auto;
    }
    
}


@media(max-width: 1170px) {
  .portafolio {
    width: 100%;
  height: auto;
  margin-top:5em;
  margin:auto;
  }
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .desc_tech {
  padding:10px;
  border:none;
  }
  .desc_tech_left {
  padding:10px;
  border:none;
  }
  .ancho_completo-mobile {
    width: 100%;
  }

}
@media (max-width: 1170px) {
  .en_linea_bloque {
    display: block;
  }
   .parrafo_grande_mobile {
    padding: 20px;
    font-size: 1.2em;
   }
  .imagen_responsive {
     width: 256px;
     height: 256px;
     margin-left: 33%;
  }
  .mitad {
    width: 100%;
    float: none;
  }

  .en_linea {
    float:none;
    display: block;
  }
  .firma_moises {
    float:none;
  }
  .centrado {
    width: auto;
  }
  .desaparecer {
    display: none;
  }
  
}

@media(max-width: 480px) {
  .letra_grande {
    font-family: "Days One";
    font-size: 50px;
    text-align: left;
  }
  .imagen_responsive {
     width: 128px;
     height: 128px;
     margin-left: 10%;
  }
  .padding-mobile {
    padding: 0;
  }
}

.en_linea_bloque {
  display: inline-block;
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
.icono_grande {
  font-size: 10em;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:0 auto;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}

/*time line*/



#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}
 
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
 
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
 
  100% {
    transform: scale(1);
  }
}